<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cesar Araujo Personal &amp; Running</title>
</head>
<body style="color: #7f8fa4;font-family: Arial, sans-serif, 'Open Sans';background-color: #f1efef;font-size: 14px;width: 100%;margin: 0;padding: 0;">
    <div style="padding: 20px;width: 516px;margin: 0 auto;background-color: #ffffff;">
        <header style="margin-top: 15px;margin-bottom: 15px;">
            <div class="logo" style="display: block;margin-bottom: 25px;margin-left: auto;margin-right: auto;width: 44%;">
                <span>Cesar Araujo Personal &amp; Running</span>
            </div>
            <div class="line" style="border-bottom: solid 1px #e1e1e1;margin: 10px 0 18px 0;"></div>
            <span style="color: #febe32;font-size: 18px;font-weight: bold;padding-left: 8px;">Olá, ${user_name}!</span>
        </header>
        <main style="margin: 5px 15px 5px 15px;">
            <p class="main-lines" style="display: block;margin: 0 auto;width: 96%;border-bottom: 1px solid #e1e1e1;margin-top: 10px;margin-bottom: 10px;"></p>
            <div style="margin: 15px 0 15px 0;text-align: center;font-size: 26px;font-weight: bold;line-height: 38px;">
                <span>Obrigado por cadastrar-se em nosso aplicativo.</span>
            </div>
            <div style="margin: 10px 40px 8px 40px;text-align: center;font-weight: bold;">
                <span>Clique no botão abaixo para confirmar o seu endereço de e-mail.</span>
            </div>
            <div style="margin: 0 auto 40px auto;text-align: center;">
                <a href="${link}" target="_blank" style="font-size: 16px; 
                    color: black; 
                    text-decoration: none; 
                    border-radius: 8px; 
                    background-color: #febe32; 
                    border-top: 16px solid #febe32; 
                    border-bottom: 16px solid #febe32; 
                    border-right: 18px solid #febe32; 
                    border-left: 18px solid #febe32; 
                    display: inline-block;">
                    Confirmar E-mail
                </a>
            </div>
            <p class="main-lines" style="display: block;margin: 0 auto;width: 96%;border-bottom: 1px solid #e1e1e1;margin-top: 10px;margin-bottom: 10px;"></p>
        </main>
        <footer style="padding-left: 8px;">
            <div style="font-weight: bold;">
                <span>Saudações,</span>
            </div>
            <div style="font-weight: bold;color: #febe32;margin-top: 3px;">
                <span>Cesar Araujo Personal &amp; Running</span>
            </div>
            <div style="margin-top: 30px;margin-bottom: 30px;">
                <span>Dúvidas, problemas, comentários e sugestões devem ser enviadas por e-mail para cesar-gym-app@gmail.com</span>
            </div>
        </footer>
    </div>
</body>
</html>